/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 3.0
 */

 /*FONTS*/

 @font-face {
    font-family: 'SourceSansPro-Regilar';
    src: url('fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('fonts/SourceSansPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}






 @font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.woff2') format('woff2'),
        url('fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helveticabold';
    src: url('fonts/Helvetica-Bold.woff2') format('woff2'),
        url('fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchetitalic'), url('fonts/trebuc.woff') format('woff');
}

@font-face {
    font-family: 'Trebuchet-bold';
    src: url('fonts/TrebuchetMS-Bold.woff2') format('woff2'),
        url('fonts/TrebuchetMS-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trebuchet-italic';
    src: url('fonts/TrebuchetMS-Italic.woff2') format('woff2'),
        url('fonts/TrebuchetMS-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Trebuchet-bolditalic';
    src: url('fonts/Trebuchet-BoldItalic.woff2') format('woff2'),
        url('fonts/Trebuchet-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}




/*DEFAULT CSS*/
* {
	outline: none !important;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	position: relative;
}

h1 {
	font-family: 'SourceSansPro-Bold';
}

h2, h3, h4, h5, h6 {
	font-family: 'SourceSansPro-SemiBold';
}

.list_style_back .acf-radio-list li label {
	color: #178744;
	font-weight: bold;
	font-size: 27px;
}

.h1 {
	font-size: 48px;
	/*line-height: 63px;
	color: #0A416A;*/
}

.h2 {
	font-size: 30px;
}

.h3 {
	font-size: 24px;
}

.h4 {
	font-size: 20px;
}

h4 {
	font-size: 24px;
	line-height: 32px;
	color: #0A416A;
}

.show {
	display: block !important;
}

p {
	font-family: 'SourceSansPro-Regilar';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #565858;
}

.no-padding {
	padding: 0;
}

.owl-stage-outer {
	padding-left: 15px;
	padding-right: 15px;
}

.standart-padding {
	padding-left: 15px;
    padding-right: 15px;
}

a {
	font-family: 'SourceSansPro-SemiBold';
}

a,
a:hover,
a:focus {
	color: #244A57;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.transition {
	transition: .5s;
}

.relative-parent {
	position: relative;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.absolute {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
}

.alpha {
	padding-left: 0;
}

.omega {
	padding-right: 0;
}

.page-404 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	max-width: 100%;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding: 6px 0px 5px;
    text-align: left;
}

.wp-block-table {
	background-color: #F4F5F4;
    border: 1px solid #178744;
    padding: 10px;
}

.btn {
	border-radius: 10px;
	font-family: 'SourceSansPro-SemiBold';
	font-size: 18px;
	line-height: 24px;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 15px 38px;
}

.btn-white {
	background: #fff;
	border: 1px solid #178744;
	color: #178744;
}

.btn-green {
	background-color: #178744;
	color: #fff;
}

.btn-white:hover {
	color: #fff !important;
	background-color: #178744;	
}

.btn-white:focus {
    color: #fff;
    background-color: #178744;
}

.btn-green:hover {
	background-color: #fff;
	color: #178744;
}

.btn-green:focus {
	background-color: #fff;
	color: #178744;
}

.spare-parts img {
	display: none;
}

.tab-post h4, .user-content h4 {
	font-family: 'SourceSansPro-SemiBold';
	font-size: 20px;
	line-height: 26px;
	color: #0A416A;
	margin-top: 25px;
}

.user-content .wp-block-columns {
	margin-top: 30px;
	margin-bottom: 25px;
}

.user-content .wp-block-button .wp-block-button__link {
	background-color: #178744;
    color: #fff;
	border-radius: 8px;
	background-image: url(img/download.svg);
	background-repeat: no-repeat;
	padding-left: 60px;
    background-position: 18px center;
}

.user-content .wp-block-column h4 {
	margin-top: 0;
}

.user-content .wp-block-button .wp-block-button__link:hover {
	color: #fff;
}

.user-content ol {
	background-color: #DDEAF2;
	padding: 10px;
	list-style-image: url('img/arrovft.svg');
	padding-left: 30px;
}

.tab-post ul li, .user-content ul li {
	font-family: 'SourceSansPro-Regilar';
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #565858;
	margin-top: 10px;
}

.tab-post p, .user-content p {
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
}

.tab-post figcaption, .user-content figcaption {
	font-family: 'SourceSansPro-SemiBold';
	font-size: 20px;
	line-height: 23px;
	color: #0A416A;
	text-align: center;
}

.tab-post .wp-block-image.size-large img{
	width: 100%;
}

.user-content .wp-block-image.size-large img{
	width: 100%;
	height: auto;
}

.home .tabs-content .post-title {
	margin-top: 0;
}

.user-content section {
	margin-top: 30px;
}

.user-content section:first-child {
	margin-top: 0;
}

.user-content ul li  a {
	font-family: 'SourceSansPro-SemiBold';
}

.user-content strong {
	font-family: 'SourceSansPro-SemiBold';
}

.user-content strong em {
	font-family: 'Trebuchet-bolditalic';
}

.user-content em {
	font-family: 'Trebuchet-italic';
}

.user-content ol li{
	font-family: 'SourceSansPro-Regilar';
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #565858;
    margin-top: 10px;
}


.user-content table thead tr th {
	font-family: 'SourceSansPro-SemiBold';
	font-size: 13px;
	line-height: 19px;
	color: #0A416A;
	padding-bottom: 8px;
	white-space: nowrap;
}

.user-content table thead {
	border-bottom: 5px solid #178744;
}

.user-content table {
	margin-top: 20px;
}

.user-content table tbody tr td {
	text-align: center;
}

.user-content table tbody tr{
	line-height: 25px;
}

.user-content table tbody tr td:first-child {
	font-family: 'SourceSansPro-SemiBold';
	font-size: 13px;
	line-height: 19px;
	color: #0A416A;
	text-align: left;
}

.user-content table tbody tr td:nth-child(1n + 2) {
	font-weight: bold;
	font-size: 19px;
}

.tab-post ul, .user-content ul {
	list-style-image: url('img/arrow-1.jpg');
	padding-left: 16px;
}

.two-col-description ul li:first-child {
	margin-top: 0;
}

.two-col-description h3 {
	font-size: 30px;
	line-height: 38px;
	color: #0A416A;
}

/* Header */

header {
	padding: 15px 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #fff;
}

.page-template-spare_parts header {
	position: unset;
}

.page-template-default header{
	position: unset;
}

#logo {
	padding-top: 5px;
}

.spare-parts {
	margin-top: 6px;
}

/* ---- Navigation ---- */

.main-menu {
	padding-top: 7px;
	padding-left: 0;
}

.sub-menu {
	display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	max-width: 220px;
	padding-left: 0;
}

.menu-item-has-children {
	background: url(img/sub.svg) no-repeat center right;
	width: 105px;
}

.main-menu .sub-menu .menu-item {
	margin-left: 0;
	border-bottom: 1px solid #178744;
	padding: 10px;
}

.main-menu .sub-menu .menu-item:hover {
	background-color: #178744;
	color: #fff;
}

.main-menu .sub-menu .menu-item:hover a{
	color: #fff;
}

.menu-item-has-children:hover .sub-menu {display: block;}



.main-menu .menu-item {
	list-style-type: none;
	margin-left: 27px;
}

header nav {
	padding: 15px 20px;
}

.main-menu .menu-item:first-child {
	margin-left: 0;
}

.main-menu a {
	font-family: 'SourceSansPro-SemiBold';
	font-size: 20px;
	line-height: 24px;
	color: #0A416A;
}

/* ---- Hero ---- */

.hero {
	position: relative;
}

.title-none {
	margin-top: 320px !important;
}

.text_dark {
	color: #0A416A !important;
}

.hero-title-block-spare {
	padding: 100px 0 100px 0;
}

.hero-title-block-spare .h1 {
	text-align: center;
    color: #0A416A;
}

.hero.spare-hero {
	top: 0;
	margin-bottom: 40px;
}

.hero .h1 {
	font-size: 72px;
    text-transform: uppercase;
}

.hero .slide-subtitle {
	font-size: 30px;
	line-height: 38px;
	color: #FFFFFF;
	margin-top: 30px;
}

.hero-slide {
	display: flex;
    justify-content: center;
    align-items: center;
}

.hero-slide .item {
	height: 41.6vw;
	display: flex;
    justify-content: center;
    align-items: center;
}

.hero-slide .hero-info {
	text-align: center;
}

.hero-slide .hero-info h1 {
	color: #fff;
}

.hero-slide .owl-stage-outer {
	padding: 0;
}

.hero-slide .owl-prev {
	position: absolute;
    top: 50%;
    left: 5%;
    background-color: #fff;
    border-radius: 45px;
    width: 60px;
    height: 60px;
    padding-top: 14px;
    padding-left: 15px;
}

.hero-slide .owl-next {
	position: absolute;
    top: 50%;
    right: 5%;
    background-color: #fff;
    border-radius: 45px;
    width: 60px;
    height: 60px;
    padding-top: 16px;
    padding-left: 21px;
}

.hero-info h1 {
	color: #0A416A;
}

.homepage-hero .hero-image-container {
	height: 640px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero {
	margin-bottom: 100px;
	top: 90px;
}

.homepage-hero .owl-controls .owl-dots {
	display: none !important;
}

.homepage-hero .btn-green {
	margin-top: 50px;
}

.company-info {
	background: #FFFFFF;
    width: 51%;
    margin: 0 auto;
    padding: 10px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
	right: 0;
	bottom: -45px;
	z-index: 1;
	justify-content: space-around;
}
	
.info-item .count-icon{
	margin: 0 auto;
	width: 115px;
}

.info-item img {
	float: left;
	padding-right: 13px;
}

.info-item .number {
	font-size: 24px;
	line-height: 28px;
	color: #0A416A;
}

.info-item .name {
	font-size: 18px;
	line-height: 21px;
	color: #0A416A;
	margin-bottom: 0;
	text-align: center;
}


/* Content */

/* --- Two column with image --- */

.two-column {
	margin-top: 100px;
    margin-bottom: 30px;
}

.two-column h4 {
	margin-bottom: 25px;
}

.two-column-title {
	margin-bottom: 25px;
}

.two-column-title h2 {
	font-size: 30px;
    line-height: 38px;
    color: #0A416A;
    width: 83%;
    margin-left: 25px;
}

.image-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #0A416A;
	margin-top: 14px;
}

.two-col-description {
	line-height: 30px;
}

/* ---- Show posts ---- */

.home .products {
	margin-top: 200px;
}

.post-slider .post-item img {
	height: 145px;
}

.home .post-title {
	margin-top: 10px;
}

.show-post .news img{
	width: 100%;
	height: 15vw;
}

.show-post {
	margin-top: 60px;
}

.show-post .read-more-news {
	display: none;
}

.post-slider {
	margin-top: 20px;
}

.short-description {
	line-height: 25px;
}

.post-title {
	font-size: 18px;
	line-height: 24px;
	color: #0A416A;
	margin-top: 17px;
}

.post-item {
	position: relative;
}

.post-item.withouth_desc {

}

.with_desc {
	height: 355px;
}

.withouth_desc {
	height: 350px;
}

.withouth_desc .post-title {
	line-height: 30px;
	font-weight: normal;
}

.news .post-item {
	height: auto;
}

.news .post-item .more {
	margin-top: 20px;
	display: block;
	position: relative;
}

.news .post-item .post-title {
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
}

.post-item .more, .feautured-post-item .more {
	position: absolute;
	bottom: 0;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #178744;
}

.block-title {
	font-size: 30px;
	line-height: 34px;
	color: #0A416A;

}

.owl-dots {
	text-align: center;
    margin-top: 30px;
}

.owl-theme .owl-controls .owl-dot {
    display: inline-block;
}
.owl-theme .owl-controls .owl-dot span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 20px;
    margin: 5px 7px;
    width: 20px;
}

.owl-theme .owl-controls .owl-dot.active span {
	background: none repeat scroll 0 0 #178744 ;
}


/* ---- Show posts with tabs ---- */

.tab-post {
	margin-top: 60px;
}

.block-title {
	margin-bottom: 36px;
}

.mobile-tabs {
	display: none;
}

.tabs-titles .tabs-item {
	border-left: 5px solid #8FC7E8;
	padding: 10px;
	cursor: pointer;
	padding-top: 25px;
}

.tabs-titles .tabs-item.active-tab {
	border-left: 5px solid #0A416A;
}

.tab-post-title {
	font-size: 20px;
	line-height: 26px;
	color: #565858;
}

.tab-post .tabs-content {
	display: none;
}

.tab-post .tabs-content.show-content {
	display: block;
}

.mobile-tabs {
	border: 1px solid #178744;
	margin-top: 30px;
    padding-top: 15px;
}

.mobile-tabs .dropbtn {
	width: 80%;
	border: 1px solid #178744;
	border-radius: 0;
	color: #178744;
	padding-left: 15px;
	text-align: left;
	white-space: normal;
	background: url(img/darkbt.svg) no-repeat 95% center;
}

p.mob-tab-title {
	font-family: 'Helveticabold';
	font-size: 18px;
	line-height: 21px;
	color: #0A416A;
	margin-left: 10%;
	text-align: left;
	white-space: normal;
}

.drop-menu.show {
    display: block;
    width: 80%;
    border: 1px solid #178744;
    border-radius: 0;
	margin-top: -2px;
	padding: 0;
	white-space: normal;
}
.drop-menu a {
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #178744;
	padding: 16px 0 15px 15px;
	white-space: normal;
	text-align: left;
}

.drop-menu a:hover {
	background-color: #178744;
	color: #FFFFFF;
}

.drop-menu {
	display: none;
	border: 1px solid #178744;
    width: 80%;
    margin: 0 auto;
	margin-top: -16px;
	margin-bottom: 20px;
}

.dropbtn.brdbtn {
	border-bottom: none;
}

.drop-menu.brdtop {
	border-top: none;
}

/* ---- CTA ---- */

.cta {
	padding: 60px 0 38px 0;
	margin-top: 60px;
}

.cta-description p {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #0A416A;
}

.cta-img-mobile {
	display: none;
}

.cta.cta_with_color_image {
	background-position: 20% center !important;
}

.cta.cta_with_bg {
	background-size: cover !important;
}

/* --- Posts with icons ---- */

.icon-post {
	margin-top: 60px;
}

.icon-post .post-title:hover {
	color: #178744;
}

.icon-post-item {
    border: 2px solid #0A416A;
	box-sizing: border-box;
	min-width: 170px;
}

.icon-post-item img{
	margin-top: 64px;
	height: 100px;
}

.icon-post-item a.post-title {
	margin: 40px 0;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #0A416A;
	display: block;
	transition: 0.3s;
}

/* ---- Contact Info ---- */

.contact-mobile-title {
	display: none;
}

.contact-info {
	padding: 56px 0;
	margin-top: 77px;
}

.contact_us {
	margin: 0 auto;
}

.contact_us p {
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
}

.contact_us p i{
	padding-right: 10px;
}

.contact_us .block-title {
	color: #fff;
	font-size: 40px;
    text-transform: uppercase;
}

/* ---- Contact form ---- */

.equipment {
	font-family: 'Helveticabold';
	font-size: 20px;
	line-height: 26px;
	color: #0A416A;
}

body .with_frm_style .frm_message {
	text-align: center;
    background-color: #fff;
    border: none;
}

body .with_frm_style .frm_message p{
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	color: #7A7B82;
	margin-top: 30px;
}

.modal-title {
	font-family: 'Helveticabold';
	font-size: 30px;
	line-height: 34px;
	color: #0A416A;
}

.modal-body .frm_style_formidable-style.with_frm_style .frm_form_field.frm_left_container {
	grid-template-columns: 100% auto;
}

.contact-form {
	padding: 76px 0;
}

.modal-dialog .modal-body #form_contact-form label.frm_primary_label {
	display: none;
}

.contact-form-image {
	margin-top: 55px;
}

.footer-form .with_frm_style .frm_left_container .frm_primary_label {
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

#form_spareparts .frm_form_field.frm_left_container .frm_primary_label {
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	color: #0A416A;
}


.with_frm_style input[type=text], .with_frm_style input[type=password], .with_frm_style input[type=email], .with_frm_style input[type=number], .with_frm_style input[type=url], .with_frm_style input[type=tel], .with_frm_style input[type=phone], .with_frm_style input[type=search], .with_frm_style select, .with_frm_style textarea, .frm_form_fields_style, .with_frm_style .frm_scroll_box .frm_opt_container, .frm_form_fields_active_style, .frm_form_fields_error_style, .with_frm_style .frm-card-element.StripeElement, .with_frm_style .chosen-container-multi .chosen-choices, .with_frm_style .chosen-container-single .chosen-single {
	border: 1px solid #0A416A;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #565858;
    padding: 12px 0 16px 16px;
}

.footer-form .with_frm_style textarea {
	padding: 4px 0 16px 16px;
}

.contact-form .with_frm_style .frm_form_field.frm_left_container input:not([type=radio]):not([type=checkbox]), #form_spareparts .with_frm_style input:not([type=radio]):not([type=checkbox]) {
	border: 1px solid #0A416A;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: 'Trebuchet MS';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	color: #565858;
	padding: 22px 0 22px 16px;
	grid-column: auto;
}

.contact-form .with_frm_style .frm_form_field.frm_left_container textarea, #form_spareparts .with_frm_style textarea {
	border: 1px solid #0A416A;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: 'Trebuchet MS';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	color: #565858;
	grid-column: auto;
}

/*#form_spareparts #frm_field_11_container {
	margin-top: -66px;
}

#form_spareparts #frm_field_13_container {
	margin-top: -133px;
}

#form_spareparts #frm_field_15_container {
	margin-top: -128px;
}*/

.contact-form .frm_style_formidable-style.with_frm_style .frm_submit button {
	background: #fff !important;
    border: 1px solid #178744 !important;
	color: #178744 !important;
	padding: 10px 30px;
}

.frm_style_formidable-style.with_frm_style .frm_submit button {
	background: #fff0 !important;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
    padding: 5px 30px;
    border-radius: 16px;
    font-size: 18px;
}

.page-template-spare_parts .frm_style_formidable-style.with_frm_style .frm_submit button {
	background: #FFFFFF !important;
    border: 1px solid #178744 !important;
    color: #178744 !important;
}

.page-template-spare_parts .frm_style_formidable-style.with_frm_style .frm_submit button:hover {
	background: #178744 !important;
    color: #fff !important;
}

.modal-body .frm_style_formidable-style.with_frm_style .frm_submit button {
    border: 1px solid #178744 !important;
    color: #178744 !important;
}

.modal-body .frm_style_formidable-style.with_frm_style .frm_submit button:hover {
	background: #178744 !important;
    border: 1px solid #178744 !important;
    color: #fff !important;
}

.frm_style_formidable-style.with_frm_style .frm_submit button:hover {
	background: #fff !important;
    border: 1px solid #fff !important;
    color: #0A416A !important;	
}

.contact-form .frm_style_formidable-style.with_frm_style .frm_submit button:hover {
	background: #178744 !important;
    border: 1px solid #fff;
    color: #fff !important;
}

.with_frm_style .frm_submit {
	text-align: right;
}

.spare-parts-form {
	border: 2px solid #178744;
	box-sizing: border-box;
	padding: 40px 70px;
	margin-top: 60px;
}

#form_spareparts .frm_form_title {
	text-align: center;
    font-size: 30px;
    line-height: 40px;
	color: #0A416A;
	font-family: 'Helveticabold';
}



.btn.focus, .btn:focus {
    box-shadow: none !important;
}

#form_spareparts .frm_description p {
	font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #0A416A;
}

#form_spareparts .frm_description {
	padding-bottom: 30px;
}

input.frm_date {
    background: url(img/date.png) no-repeat 95% center;
}

.twl-title {
	font-size: 40px;
	line-height: 50px;
	color: #0A416A;
	width: 65%;
	margin-left: 33px;
}

.twl-section {
	padding: 47px 0;
	margin-top: 60px;
}

/* ---- Footer ---- */

.single-applications footer {
	margin-top: 60px;
}

.post-type-archive-case_studies footer {
	margin-top: 60px;
}

.page-template-spare_parts footer {
	margin-top: 60px;
}

.contact-image img {
	margin-top: 55px;
}

footer .footer-logo img.iso-logo {
	width: 48px;
    padding-top: 5px;
    margin-left: 33px;
}

.footer-form .frm_style_formidable-style.with_frm_style .form-field {
	margin-bottom: 8px;
}

footer {
	background-color: #0A416A;
	padding-bottom: 24px;
}

.footer-form h4 {
	color: #fff;
	margin: 28px 0 28px 0;
}

.footer-menu {
	padding-left: 0;
}

.footer-menu li {
	list-style-type: none;
	margin-top: 21px;
}

.footer-menu li:first-child {
	margin-top: 36px;
}


footer .footer-menu li a {
	font-family: 'SourceSansPro-SemiBold';
	font-weight: normal;
	font-size: 20px;
	line-height: 19px;
	color: #FFFFFF;
}

.contact-footer {
	font-size: 14px;
	line-height: 25px;
	color: #FFFFFF;
	margin-left: 14%;
}

.contact-footer i {
	padding-right: 10px;
}

.footer-menu-title {
	font-family: 'SourceSansPro-SemiBold';
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	margin-top: 23px;
}

.footer-menu-last.footer-menu li a {
	font-family: 'SourceSansPro-SemiBold';
	font-size: 16px;
	line-height: 21px;
}

.footer-menu-last.footer-menu li {
	margin-top: 23px;
}

.footer-logo {
	margin-left: -60px;
}

.footer-logo img{
	margin: 10px 0 29px 0;
}

.social-footer i{
	color: #fff;
    font-size: 25px;
}

a.social-footer {
	margin-left: 30px;
	margin-top: 28px;
}

.iso-icon {
	margin-top: 90px;
}


/* ---- Industry solution single ---- */

.hero-single  .hero-title-block {
	background: linear-gradient(90.1deg, rgba(255, 255, 255, 0.9) 66.88%, rgba(196, 196, 196, 0) 97.18%);
    margin: 400px 0 121px 0;
    display: inline-block;
	width: 50%;
	padding: 16px 0 16px 0;
}

.wp-block-columns {
	margin-bottom: -0.25em;
}

.hero-single .hero-title-block .h1 {
	font-family: 'SourceSansPro-Bold';
	line-height: 63px;
	color: #0A416A;
    margin-left: 25%;
	margin-bottom: 0;
}

.post-type-archive .menu-item, .page .menu-item {
	border: none !important;
}

.post-type-archive .current-menu-item,  .page .current-menu-item {
	border-bottom: 2px solid rgb(10, 65, 106) !important;
}

.post-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 26px;
	color: #0A416A;
	margin-top: 60px;
}

.post-image-lable {
	line-height: 23px;
	color: #0A416A;
	padding-top: 7px;
}

.only-description p {
	line-height: 30px;
	margin-top: 25px;
}

.post-app-item {
	width: 111px;
	border: 2px solid #0A416A;
	box-sizing: border-box;
	padding: 14px 0 7px 0;
	margin-left: 12px;
	text-align: center;
}

.post-app-item:first-child {
	margin-left: 0;
}

.post-app-item .app-thumb {
	width: 35px;
}

.post-app-item .app-title {
	display: block;
	margin-top: 17px;
	font-size: 16px;
	line-height: 19px;
	color: #0A416A;
}

.app-content-title {
	line-height: 30px;
	color: #0A416A;
}

.is-cta {
	margin-top: 80px;
}

.is-cta .cta-description {
	padding: 82px 0 38px 0;
}

.tabs-menu-item {
	font-family: 'SourceSansPro-SemiBold';
	font-size: 20px;
	line-height: 26px;
	color: #565858;
}

.single .tabs-titles {
	margin-top: 60px;
}

.single .tabs-item.active {
	border-left: 5px solid #0A416A;
}

.single .tabs-item.active a{
	color: #0A416A;
}

.list-block {
	list-style-image: url('img/arrow-1.jpg');
	padding-left: 30px;
}

.arrow ul {
	list-style-image: url('img/arrow-1.jpg');
	padding-left: 16px;
}

.list-block li{
	font-family: Trebuchet MS;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #565858;
	margin-top: 10px;
	padding-left: 5px;
}


/* ---- Single Case studies ---- */

.post-type-archive-case_studies .post-archive {
	margin-top: 130px;
}

.case-hero-single img {
	width: 100%;
}

.single-case_studies .more-projects {
	margin: 50px auto;
}

.single-case_studies .feautured-post-item .more {
	position: unset;
}

.single-case_studies .related .feautured-post-item {
	margin-top: 30px;
	max-width: 100%;
}

.single-case_studies .related .block-title {
	display: none;
}

.related .read-more-news {
    display: none;
    float: left;
    background: url(img/dark_arrow.png) no-repeat right 81%;
    min-width: 180px;
    margin-left: 19px;
}

/* ---- Single Applications ---- */

.icon-post-item {
	position: relative;
}

.post-app-item {
	position: relative;
}

.full-click {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.app-single-heading svg {
	width: 60px;
    /* height: fit-content; */
    margin-top: 20px;
    margin-bottom: 13px;
}

.app-single-thumb {
    width: 50px;
	margin-top: 50px;
	height: auto;
}

.app-single-title {
	margin-left: 10px;
}

/*.app-single-heading {
	margin-bottom: 30px;
}*/

.post-product-item {
	width: 160px;
	margin-left: 30px;
	max-width: 21%;
}

.post-product-item:first-child {
	margin-left: 0;
}

.post-product-item img {
	width: 100%;
    height: 85px;
}

.single-products .post-application .app-content-title {
	display: none;
}

.post-product-item a {
	font-family: 'Helveticabold';
	font-size: 16px;
	line-height: 18px;
	color: #0A416A;
	margin-top: 10px;
    display: block;
}

.two-col-image {
	width: 100%;
}

.single .feautured-post-item {
	max-width: 230px;
	position: relative;
}

.single .feautured-post-item img{
	width: 100%;
}

.post-archive {
	margin-top: 60px;
}

.section-title {
	font-family: 'Helveticabold';
	font-size: 24px;
	line-height: 32px;
	color: #0A416A;
	margin-top: 60px;
}

.feautured-case {
	margin-top: 30px;
}

.withouth_desc .post-title {
	margin-top: 6px;
}

/*---- Feautured projects ---- */

.feautured-post-item .post-title {
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	margin-top: 10px;
}

.feautured-post-item .more {
	bottom: -28px;
	left: 0;
}

.related .block-title {
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 28px;
}

.related {
	margin-top: 40px;
}

/* ---- News ---- */

.news-archive .news img {
	width: 100%;
	height: 15vw;
}

.news-archive .news {
	margin-top: 60px;
}

.malinky-load-more {
	margin: 50px auto;
}

.malinky-load-more a{
	font-family: 'Helveticabold';
    font-size: 18px;
    line-height: 24px;
    box-sizing: border-box;
    border-radius: 10px;
	padding: 15px 38px;
	background: #fff;
    border: 1px solid #178744;
	color: #178744;
}

.malinky-load-more a:hover {
	color: #fff;
    background-color: #178744;
}

.malinky-ajax-pagination-loading {
	position: absolute;
    bottom: -30px;
    left: 48%;
}

.single-format-standard .news img {
	width: 100%;
	height: 15vw;
}

.single-format-standard .news {
	margin-top: 30px;
}

.read-more-news {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	display: block;
	float: right;
	margin-top: 40px;
	background: url(img/dark_arrow.png) no-repeat right center;
	min-width: 150px;
}

.single-post .contact-form {
	margin-top: 60px;
}

.page-id-323 .contact-info {
	margin-top: 0;
}

/* ---- Burger Menu ---- */

.container-burger {
	display: inline-block;
	cursor: pointer;
	z-index: 11;
	margin-top: 10px;
}
  
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #0A416A;
	margin: 6px 0;
	transition: 0.4s;
}
  
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	z-index: 9;
	display: none;
}

.mobile-menu .main-menu {
	width: 80%;
    margin: 0 auto;
	padding-left: 0;
	margin-top: 150px;
}

.mobile-menu .main-menu .menu-item {
	margin-left: 0;
}

.mobile-menu .main-menu .menu-item {
	line-height: 50px;
}

.mobile-menu .main-menu a {
	font-size: 24px;
}

.mobile-menu .btn-green {
	margin-top: 25px;
}

section.in-solution {
	display: none;
}

section.in-solution .in-solution-item{
	height: auto;
}

section.in-solution .in-solution-item .more{
	position: unset;
}


.err_title {
	color: #0A416A;
}

.page-404 {
	margin: 80px auto 80px auto;
}

.newscat .read-more-studies {
	display: none !important;
}

.single .case-hero-single {
	padding-top: 130px;
}

.post-item img {
	width: 100%;
}

/* .row {
	margin-left: -12px;
	margin-right: -12px;
}

.container,
[class*="col-"] {
	padding-left: 12px;
	padding-right: 12px;
} */

/*MAIN CSS*/
.header-items {
	justify-content: space-between;
}
.cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Large desktops and laptops */
@media (min-width: 1230px) {
	.container { width: 1200px; }
	header .container {
		max-width: 1440px;
		width: 1440px;
	}
}

@media (min-width: 1200px) {
	header .spare-parts {
		margin: 0 auto;
	}

	header .container-burger {
		display: none;
	}
}

@media (max-width: 1199px) {
	header nav {
		display: none;
	}

	.post-app-item {
		width: 90px;
	}

	.icon-post-item {
		min-width: 150px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 992px) {
	
}

@media (max-width: 991px) {

	.single-case_studies .related{
		display: none;
	}
	section.in-solution {
		display: block;
	}

    header {
		z-index: 10;
	}

	.tab-post {
		display: none;
	}

	.in-solution {
		display: block;
	}

	header nav {
		display: none;
	}

	.hero-info h1 {
		font-size: 36px;
	}

	.spare-parts .btn {
		display: none;
	}
	
	.spare-parts img {
		display: block;
		width: 50px;
	}

	.footer-menu-block {
		padding-right: 20px;
		padding-left: 20px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) { 
	footer .contact-image {
		display: none;
	}

	.footer-logo {
		margin-left: 0;
	}

	.footer-menu-block {
		margin-left: 30px;
	}

	.with_frm_style input[type=text], .with_frm_style input[type=password], .with_frm_style input[type=email], .with_frm_style input[type=number], .with_frm_style input[type=url], .with_frm_style input[type=tel], .with_frm_style input[type=phone], .with_frm_style input[type=search], .with_frm_style select, .with_frm_style textarea, .frm_form_fields_style, .with_frm_style .frm_scroll_box .frm_opt_container, .frm_form_fields_active_style, .frm_form_fields_error_style, .with_frm_style .frm-card-element.StripeElement, .with_frm_style .chosen-container-multi .chosen-choices, .with_frm_style .chosen-container-single .chosen-single {
		font-size: 13px;
	}

	a.social-footer {
		margin-left: 8px;
	}

	footer .footer-logo img.iso-logo {
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	.company-info {
		display: none;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.wp-block-table table {
		width: max-content;
	}

	.spare-parts {
		width: 11%;
	}

	.frm_form_field.frm_half {
		grid-column: span 0 / span 0 !important;
	}

	.frm_form_fields .frm_section_heading {
		display: contents !important;
	}

}

/* Landscape phones and smaller */
@media (max-width: 544px) {

	.single-format-standard .news img {
		height: 35vw;
	}

	.hero-slide .owl-next {
		padding-left: 9px !important;
	}

	.hero .slide-subtitle {
		font-size: 20px;
	}

	.twl-title {
		width: 100%;
		margin-top: 20px;
		margin-left: 0;
		text-align: center;
	}

	.home .products {
		margin-top: 190px;
	}

   .hero-slide .item {
		height: 157.6vw;
		align-items: flex-end;
	  }
	  
	.hero-slide .hero-info {
		margin-bottom: 100px;
	}

	.post-product-item {
		width: 100%;
		max-width: 100%;
	}

	.post-product-item img {
		height: auto;
	}

   .homepage-hero .owl-controls .owl-dots {
		bottom: 30px;
		position: absolute;
		width: 100%;
		display: block !important;
   }

   .hero-slide .owl-prev, .hero-slide .owl-next {
	   width: 30px;
	   height: 30px;
	   padding-top: 4px;
	   padding-left: 6px;
	   top: 66%;
   }

   .homepage-hero .owl-theme .owl-controls .owl-dot span {
		background: none repeat scroll 0 0 #ffffff;
   }

   .hero-slide .owl-prev img, .hero-slide .owl-next img{
		width: 16px;
	}

	.owl-theme .owl-controls .owl-dot.active span {
		background: none repeat scroll 0 0 #178744;
	}

   .two-column .image-column img{
	   width: 100%;
   }

   .header {
	   position: unset;
    }

   .homepage-hero {
	   top: 0;
   }

	.two-col-description .two-column-title img{
		margin: 0 auto;
		margin-bottom: 30px;
	}

	header nav {
		display: none;
	}

	header a.btn-white {
		display: none;
	}

	.homepage-hero {
		margin-bottom: 30px;
	}

	#logo {
		padding-top: 0;
		z-index: 10;
	}

	.hero .company-info {
		width: 90%;
		bottom: -145px;
	}

	.hero .company-info .name {
		font-size: 16px;
	}

	.hero .company-info .info-item {
		margin-top: 10px;
	}

	.homepage-hero .hero-image-container {
		align-items: flex-end;
		padding-bottom: 170px;
	}

	.hero-info .h1 {
		font-size: 36px;
	}

	.current-menu-item {
		border: none;
	}

	section.in-solution {
		display: block;
	}

	.home .tab-post {
		display: none;
	}

	.show-post .news img {
		height: auto;
	}

	.show-post .news:nth-child(2) {
		display: none;
	}

	.show-post .post-item {
		height: auto;
	}

	.show-post .post-item .more{
		position: unset;
	}

	.newscat .read-more-news {
		display: block;
	}

	.newscat {
		margin-bottom: 80px;
	}

	.cta-img-mobile {
		display: block;
		padding: 0;
	}

	.cta-img-mobile img{
		width: 100%;
		margin-bottom: 30px;
	}

	.cta_with_color_image .cta-img-mobile img{
		width: 60%;
		display: block;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.cta {
		background: #D3DFD8 !important;
	}

	.cta.cta_with_bg {
		padding: 0px 0 38px 0;
	}

	footer .footer-menu-block {
		width: 100%;
		padding: 0 8% 0 8%;
	}

	.footer-logo {
		margin-left: 0;
	}

	.menu-item-has-children {
		width: 100%;
		background: url(img/sub.svg) no-repeat 72% center;
	}

	.main-menu .sub-menu .menu-item {
		border: none;
	}

	.sub-menu {
		width: 100%;
		position: unset;
		width: 100%;
		max-width: 100%;
		box-shadow: none;
	}

	.footer-menu-title {
		background: url(img/arrw1.svg) no-repeat top right;
		border-bottom: 1px solid #FFFFFF;
		padding-bottom: 6px;
		margin-top: 0;
	}

	.footer-menu-title.arrtop {
		background: url(img/arrt2.svg) no-repeat top right;
		border: none;
	}

	.footer-menu-block #menu-footer-4 {
		display: block;
	}

	.footer-menu-block #menu-footer-4 .menu-item {
		border-bottom: 1px solid #fff;
		padding-bottom: 6px;
	}

	.footer-menu-block .menu-item:first-child{
		margin-top: 0;
	}

	.footer-menu-last.footer-menu li {
		margin-top: 17px;
	}

	.footer-logo {
		margin-bottom: 50px;
	}

	.iso-icon {
		margin: 0 auto;
    	display: block;
	}

	.mobile-tabs {
		display: block;
	}

	.single .tabs-titles {
		display: none;
	}

	.single .post-app-item {
		min-height: 200px;
		padding: 24px 14px 0 14px;
	}

	.single .feautured-post-item {
		max-width: 100%;
	}

	.single .related .block-title {
		margin-left: 15px;
	}

	.hero-single .hero-title-block {
		width: 100%;
	}

	.hero-single .hero-title-block .h1{
		font-size: 36px;
		text-align: left;
    	margin-left: 20px;
	}

	.archive .post-archive .post-item img{
		width: 100%;
		height: auto;
	}

	.archive .post-archive .post-item .more{
		position: unset;
	}

	.archive .post-item {
		margin-top: 30px;
	}

	.contact-form .block-title {
		display: none;
	}

	.contact-form .block-title.contact-mobile-title {
		display: block;
	}

	.contact-form {
		padding: 27px 0;
	}

	.contact-form-image {
		margin: 0 auto;
		display: block;
	}

	.news-archive .news {
		height: auto;
	}

	.news-archive .news img{
		height: auto;
	}

	.news-archive .news .more{
		position: unset;
	}

	.spare-parts img {
		display: block;
	}

	.spare-parts-form {
		width: 90%;
		padding: 40px 15px;
	}

	.post-app-item .app-thumb {
		width: 96%;
	}

	.related .read-more-news {
		display: block;
	}

	.contact-footer {
		margin-left: 3%;
	}

	footer .footer-logo img.iso-logo {
		margin-left: 7px;
	}

	.hero-single .hero-title-block {
		padding: 0;
	}

	.single-products .cta {
		padding: 0 0 38px 0;
	}

	.home .case_studies .read-more-studies {
		display: block;
	}

	.read-more-studies {
		min-width: 170px;
	}

	.footer-form h4 {
		font-size: 30px;
		text-align: center;
	}

	footer .contact-image {
		text-align: center;
	}

	.contact-image img {
		width: 70%;
	}

	.page-template-spare_parts .hero .h1 {
		font-size: 40px;
	}
}

@media (max-width: 480px) {

}